*{
    margin:0px;
    padding:0px;
    border:none;
    outline:none;
    font-family:inherit;
}

.popup_wrapper{
    width:400px;
    min-height:300px;
    padding:20px;
}

.add_new{
    float:right;
    margin-bottom:20px;
    cursor:pointer;
}

.add_new:after{
    content:"";
    display:table;
    clear:both;
}

.add_new img{
    float:left;
    margin-top:2px;
}

.add_new p{
    float:left;
    margin-left:10px;
    font-size:16px;
}

.notes_list{
    clear:both;
    border-top:1px solid #555555;
}

.notes_list li{
    list-style:none;
    padding:8px;
    border-bottom:1px solid #555555;
}

.notes_list li:after{
    content:"";
    display:table;
    clear:both;
}

.notes_list li p{
    float:left;
    font-size:16px;
}

.notes_list li span{
    margin-left:20px;
    font-size:12px;
}

.notes_list li img{
    float:right;
    cursor:pointer;
}

.add_new_form{
    display:none;
    clear:both;
}

.add_new_form h2{
    margin-bottom:10px;
    text-align:center;
    font-weight:normal;
}

.add_new_form input{
    display:block;
    width:100%;
    margin-bottom:10px;
    padding:5px 10px;
    border:1px solid #999999;
    box-sizing:border-box;
    font-size:14px;
}

.add_new_form button{
    display:block;
    padding:5px 10px;
    background-color:#555555;
    font-size:14px;
    color:white;
    cursor:pointer;
}